*.xcworkspacedata
*.xcbkptlist
*.xcuserstate

xcuserdata

Gemfile.lock
.DS_Store

fastlane/report.xml

*/fastlane/README.md
*/fastlane/report.xml
*/fastlane/Appfile
*/fastlane/test_output/report.html
*/fastlane/test_output/report.junit
*/code-coverage/report.html

docs/*
build/*
Manifest.lock

Pods/

*.resolved

GetirClient/DerivedData

